<%- include('partials/head', {titulo: "Lista Peliculas"}) %>
<body>
  <div class="main-wrapper">
    <div class="container-custom">
      <h1 class="text-center mb-4">Lista de Películas</h1>
      <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
          <form action="/" method="get">
            <div class="input-group">
              <input
                name="busqueda"
                class="form-control"
                placeholder="Buscar..."
                type="text"
              />
              <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-8 offset-md-2 d-flex align-items-center">
          <a  href="/?estado=<%= (estado === "todos") ? "visto": (estado==="visto") ? "todos": ""%>" class="text-decoration-none me-3">
           <p><% if (estado==="todos") { %>
            VER VISTOS
           <% } else { %>
            VER TODOS
            <% } %>
          </p>
          </a>
          <a href="/pelicula/agregar" class="btn btn-custom">Nueva película</a>
        </div>
      </div>

      <div class="row justify-content-center g-4">
        <% peliculas.forEach(pelicula => { %>
        <div class="col-auto">
          <a
            href="/pelicula/<%= pelicula.id_pelicula %>"
            class="card movie-card text-decoration-none text-dark"
          >
            <img
              alt="Imagen de la película <%= pelicula.titulo %>"
              class="card-img-top"
              src="/almacen/<%= pelicula.url_imagen.split('/').pop() %>"
            />
            <div class="card-body text-center">
              <h5 class="card-title fw-bold">
                <%= pelicula.titulo%>
              </h5>
            </div>
          </a>
        </div>

        <% }) %>
      </div>
      <!-- Paginación -->
      <div class="row mt-4">
        <div class="col text-center">
          <nav aria-label="Paginación de películas">
            <ul class="pagination justify-content-center">

              <% for (let i = 1; i <= totalPaginas; i++) { %>
                <li class="page-item <%= i === paginaActual ? 'active' : '' %>">
                  <a class="page-link" href="?pagina=<%= i %><%= estado !== 'todos' ? '&estado=' + estado : '' %>">
                    <%= i %>
                  </a>
                </li>
              <% } %>

            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</body>

<%- include('partials/footer') %>
